/.settings/
/.gradle/
/build/
/target/
/target-eclipse/
/activemq-data/
/grails-app/migrations/tempdiff.groovy
/web-app/WEB-INF/classes/
/.classpath
.metadata/
.groovy/

lib/.DS_Store

src/.DS_Store

src/groovy/.DS_Store

src/groovy/org/.DS_Store

src/groovy/org/geeks/.DS_Store

src/groovy/org/geeks/browserdetection/.DS_Store

.DS_Store

.classpath

